{{ $m := .Metadata }}
{{ $foreignId := .ForeignId }}
{{ $foreignType := .ForeignType }}
<tr>
  <td colspan=2>
    <a href="/scan/html/event_type:{{ $m.EventType }}">{{$m.EventType }}</a><br>
    <a href="/scan/html/{{.ForeignType}}:{{ .ForeignId }}">{{.ForeignType}}:{{.ForeignId}}</a><br>
    {{ time $m.CreatedAtNs }}<br>
  </td>
</tr>

{{ range $m.Search }}
<tr>
  <td class="left">
    {{ .Key }}
  </td>
  <td class="right">
    <a href="/scan/html/{{ $foreignType }}:{{ $foreignId }}/{{ .Key }}:{{ .Value}}">{{.Value}}</a>
  </td>
</tr>
{{ end }}

{{ range $m.Count }}
<tr>
  <td class="left">
      {{ .Key }}
  </td>
  <td class="right">
      {{.Value}}
  </td>
</tr>
{{ end }}


{{ range $m.Properties }}
<tr>
  <td class="left">
      {{ .Key }}
  </td>
  <td class="right">
      {{.Value}}
  </td>
</tr>
{{ end }}


  {{ range .Context }}
    <tr>
      <td class="left" colspan=2>
        @{{.ForeignType}}:{{ .ForeignId }}
      </td>
    </tr>
    {{ range .Properties }}
    <tr>
      <td class="left">
        &nbsp;&nbsp;{{.Key }}
      </td>
      <td class="right">
        {{.Value}}
      </td>
    </tr>
    {{ end }}
  {{ end }}



<tr>
<td colspan=2 class="hit-sep">&nbsp;</td>
</tr>
