<!DOCTYPE html>
<html>
  <head>
    <title>
      blackrock
    </title>
    <style>
      @font-face {
      font-family: blackrock;
      src: url('/public/html/font/hack.woff') format('woff'),
           url('/public/html/font/hack.woff2') format('woff2');
      }

      body {
      margin: 5px;
      font-family: "blackrock";
      background-color: white;
      color: #3f3f3f;
      max-width: 55rem;
      padding: 1rem;
      font-size: 14px;
      margin: auto;
      }

      pre {
      font-family: "blackrock", Monaco, monospace;
      }
      a {
      color: #000;
      text-decoration: none;
      }
      .hit-sep {
      background-color: gray;
      }
      .left {
      width: 30%;
      word-break: break-word
      }
      .right {
      width: 30%;
      word-break: break-word
      }
      table {
      width: 100%;
      }
      .banner {
      background-color: gray;
      color: white;
      }
    </style>
  </head>
  <body>
    {{ $base := .BaseUrl }}
     <a href="{{ replace $base "/html/" "/text/" }}">text</a> <a href="/scan/html/">/scan/html/</a>&nbsp;&nbsp;
    {{ range .Crumbs }}
    <a href="{{ .Base }}/{{.Exact}}">{{.Exact}}</a> <a href="/scan/html/{{.Exact}}">=</a>&nbsp;&nbsp;
    {{ end }}
    {{ $total := .Stats.TotalCount }}

    <table border=0>
      <tr><td colspan=2><pre class="banner">{{ banner "makers"}}</pre></td></tr>
      {{ template "/html/t/chart.tmpl" dict "Data" .Stats.Makers "GlobalTotal" $total "BaseUrl" $base "Link" true}}
      <tr><td colspan=2><pre class="banner">{{ banner "types"}}</pre></td></tr>
      {{ template "/html/t/chart.tmpl" dict "Data" .Stats.Types "GlobalTotal" $total  "BaseUrl" $base "Link" true}}
      <tr><td colspan=2><pre class="banner">{{ banner "tags"}}</pre></td></tr>
      {{ range .Stats.Tags }}
      {{ template "/html/t/chart.tmpl" dict "Data" . "GlobalTotal" $total  "BaseUrl" $base "Link" true}}
      {{ end }}
      <tr><td colspan=2><pre class="banner">{{ banner "properties"}}</pre></td></tr>
      {{ range .Stats.Properties }}
      {{ template "/html/t/chart.tmpl" dict "Data" . "GlobalTotal" $total  "BaseUrl" $base "Link" false}}
      {{ end }}
      <tr><td colspan=2><pre class="banner">{{ banner "sample"}}</pre></td></tr>
      {{ range .Stats.Sample }}
      {{ template "/html/t/hit.tmpl" . }}
      {{ end  }}
    </table>
  </body>
</html>