<!DOCTYPE html>
<html>
  <head>
    <title>
      blackrock
    </title>
    <style>
      @font-face {
      font-family: blackrock;
      src: url('/public/html/font/hack.woff') format('woff'),
           url('/public/html/font/hack.woff2') format('woff2');
      }

      html,body {
      margin: 5px;
      font-family: "blackrock";
      font-size: 18px;
      line-height: 24px;
      background-color: white;
      color: #3f3f3f;
      }

      pre {
      font-family: "blackrock", Monaco, monospace;
      }
      a {
      color: #000;
      text-decoration: none;
      }
    </style>
  </head>
  <body>
    <pre>
      {{ .Crumbs | safeHTML }}
      {{ .Body | safeHTML }}
    </pre>
  </body>
</html>