{{ $qs := .QueryString }}
{{ $sorted := .Data.Sorted }}
<tr id="{{ .Data.Key }}">
  <td class="left">
    {{ .Data.Key }} ({{ (len $sorted) }})
  </td>
  <td class="right">
    total: {{ .Data.Count }} {{ percent .GlobalTotal .Data.Count }}
  </td>
</tr>

{{ $total := .Data.Count }}
{{ $b := .BaseUrl }}

{{ $tag := .Data.Key }}
{{ $link := .Link }}
{{ $foreign := .Foreign }}
{{ $limit := getN $qs .Data.Key 50 }}
{{ range $i, $val := $sorted }}

{{ if lt $i $limit }}
<tr>
  <td class="left">
    {{ if $link }}
    <div style="padding-left: 1.5em;">
    {{ $name := prettyName $tag $val.Key }}
    <a href="{{$b}}/{{$tag}}:{{$val.Key}}?{{$qs}}">{{ $name }}</a>
    </div>
    {{ else }}
    <div style="padding-left: 1.5em">{{ $val.Key }}</div>
    {{ end }}
  </td>
  <td class="right">
    {{ $p := percent $total $val.Count}}
    <div style="position: relative">
     <div style="display: inline-block; z-index: 1">{{ format $val.Count }} ({{$p}}%)</div>
     <div style="position: absolute; left: 0; bottom: 0;  display: inline-block; width: {{$p}}%; background-color: rgba(200,200,200,0.5);">&nbsp;</div>
    </div>
  </td>
</tr>

{{ end }}
{{ end }}

{{ if gt (len $sorted) $limit }}
<tr>
  <td class="left" colspan=2>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<a href="{{$b}}?{{addN $qs .Data.Key 100}}#{{.Data.Key}}">skipping {{ minus (len $sorted) $limit }}</a>
  </td>
</tr>

{{end}}
<tr>
  <td>&nbsp;</td>
</tr>
