<!DOCTYPE html>
<html>
  <head>
    <title>
      blackrock
    </title>
    <style>
      @font-face {
      font-family: blackrock;
      src: url('/external/vendor/font/hack.woff') format('woff'),
           url('/external/vendor/font/hack.woff2') format('woff2');
      }

      body {
      margin: 5px;
      font-family: "blackrock", monospace;
      background-color: white;
      color: #3f3f3f;
      max-width: 60rem;
      padding: 1rem;
      font-size: 14px;
      margin: auto;
      }
      .trigger input[type=checkbox] + span {
      visibility: hidden;
      display: none;
      opacity: 0;
      }
      .trigger input[type=checkbox]:checked + span {
      visibility: visible;
      display: block;
      opacity: 1;
      transition-delay: 0s;
      }
      .hit-details {
      display: none;
      }
      .msg {
      display: block;
      }
      pre {
      font-family: "blackrock", Monaco, monospace;
      }
      a {
      color: #000;
      text-decoration: none;
      }
      .hit-sep {
        background-color: gray;
      }
      .left {
      width: 30%;
      word-break: break-word
      }
      .right {
      width: 30%;
      word-break: break-word
      }
      table {
      width: 100%;
      }
      .banner {
      background-color: gray;
      color: white;
      }
    </style>

    <link rel="stylesheet" href="/external/vendor/chart/Chart.min.css"/>
    <script src="/external/vendor/chart/Chart.min.js"></script>
    <script src="/external/vendor/chart/randomColor.js"></script>

    <script>
  var toggle = function(id) {
    var elements = document.getElementsByClassName('hit-' + id)
    if (elements)
      for (var i = 0; i < elements.length; i++) 
        elements[i].style.display = "table-row"

  }
    </script>
  </head>
  <body>
    {{ $base := .BaseUrl }}
    {{ $query := .QueryString }}
    {{ $total := .Stats.TotalCount }}
    {{ $stats := .Stats }}
    <div style="line-height: 25px;">
      <a href="{{ replace $base "/html/" "/text/" }}">text</a>
      <br>
      <a href="/scan/html/?{{$query}}">/scan/html/</a><br>
      {{ $crumbs := .Crumbs }}
      {{ range .Crumbs }}
      <a href="{{ .Base }}/{{.Exact}}?{{$query}}">{{.Exact}}</a> <a href="/scan/html/{{.Exact}}?{{$query}}">=</a> <a href="{{ $crumbs.RemoveQuery .Exact}}?{{$query}}">d</a>{{ if gt (len $crumbs) 1 }} <a href="{{ $crumbs.NegateQuery .Exact}}?{{$query}}">-</a> {{end}}
      <br>
      {{end}}

      <form method=get action='?'>
        <input type=hidden name='query_max_documents' value='{{getS $query "query_max_documents"}}'>
        <input name="from" type=date value='{{getS $query "from"}}'>
        <input name="to" type=date value='{{getS $query "to"}}'>
        <select name="bucket">
          {{ $selected := getS $query "bucket" }}
          <option  {{ if eq $selected "minute"}}selected{{end}}>minute</option>
          <option  {{ if eq $selected "hour"}}selected{{end}}>hour</option>
          <option  {{ if eq $selected "day"}}selected{{end}}>day</option>
          <option  {{ if eq $selected "week"}}selected{{end}}>week</option>
        </select>
        <input type=submit value=go><br>
        <select name="whitelist" multiple style="width: 50%" size=10>
          <option disabled></option>
          {{ range $stats.SortedSections }}
          <option value="{{.Key}}" {{ if $stats.IsWhitelisted .Key }}selected{{end}}>{{.Key}}</option>
          {{ end }}
        </select>
      </form>
      total events: {{ $total }}

    </div>

    <table border=0>
      <tr><td colspan=2><pre class="banner">{{ banner "basic"}}</pre></td></tr>
      {{ range pick .Stats.Search "env" "product" "year-month-day" }}
      {{ template "/html/t/chart.tmpl" dict "Data" . "GlobalTotal" $total "BaseUrl" $base "Link" true "QueryString" $query}}
      {{ end }}
      <tr><td colspan=2><pre class="banner">{{ banner "foreign id"}}</pre></td></tr>
      {{ range (.Stats.SortedKeys .Stats.Foreign) }}
      {{ template "/html/t/chart.tmpl" dict "Data" . "GlobalTotal" $total "BaseUrl" $base "Link" true "QueryString" $query "Foreign" true}}
      {{ end }}
      <tr><td colspan=2><pre class="banner">{{ banner "event type"}}</pre></td></tr>
      {{ template "/html/t/chart.tmpl" dict "Data" .Stats.EventTypes "GlobalTotal" $total  "BaseUrl" $base "Link" true "QueryString" $query}}

      <tr><td colspan=2>
      {{ if .Stats.Chart }}
      {{ template "/html/t/graph.tmpl" .Stats }}
      {{ end }}
      </tr></td>

      <tr><td colspan=2><pre class="banner">{{ banner "search"}}</pre></td></tr>
      {{ range (.Stats.SortedKeys .Stats.Search) }}
      {{ template "/html/t/chart.tmpl" dict "Data" . "GlobalTotal" $total  "BaseUrl" $base "Link" true "QueryString" $query}}
      {{ end }}

      <tr><td colspan=2><pre class="banner">{{ banner "count"}}</pre></td></tr>
      {{ range (.Stats.SortedKeys .Stats.Count) }}
      {{ template "/html/t/chart.tmpl" dict "Data" . "GlobalTotal" $total  "BaseUrl" $base "Link" false "QueryString" $query}}
      {{ end }}

      <tr><td colspan=2><pre id="sample" class="banner">{{ banner "sample"}}</pre></td></tr>
      {{ range $variant,$hits := .Stats.Sample }}
      {{ range $hits }}
      {{ template "/html/t/hit.tmpl" dict "Data" . "QueryString" $query "BaseUrl" $base "Variant" $variant}}
      {{ end  }}
      {{ end  }}
    </table>
  </body>
</html>